/* 전체 게시글 보기 */
.writing-view-all {
    position: relative;
    margin-top: 110px;
    padding: 60px 0 60px 0;
    background-color: #f7f7f7;
    text-align: center;
    a {
        font-size: 18px;
        font-weight: 700;
        &:after {
            content: '';
            display: inline-block;
            width: 22px;
            height: 24px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.2 20.6"><path d="M2.4 18.7l8.3-8.3-8.3-8.3" fill="none" stroke="%234b4b4b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px;
            background-size: 14px 14px;
        }
        &:hover {
            border-bottom: 1px solid #000000;
            padding-bottom: 1px;
        }
    }
    .top-btn {
        position: fixed;
        right: 30px;
        bottom: 76px;
        width: 42px;
        height: 42px;
    }
}
/* // 전체 게시글 보기 */

/* 반응형 */
/* desktop */
@media all and (max-width: 1199px) {

}
/* // desktop */
/* // 반응형 */
