.header-wrap {
    margin-bottom: 65px;
    text-transform: capitalize;
    .navi {
        border-bottom: 1px solid #e2e2e2;
        .menu {
            display: flex;
            align-items: center;
            height: 70px;
            .menu-open-btn {
                margin-right: 60px;
                svg {
                    width: 22px;
                    vertical-align: middle;
                    &:hover {
                        opacity: 0.7;
                        transition: color 0.2s;
                    }
                }
            }
            .navi-utils {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-basis: 100%;
                gap: 25px;
                .search-wrap {
                    position: relative;
                    input {
                        &.search-keyword {
                            display: none;
                            width: 100%;
                            height: 30px;
                            border-bottom: 1px solid #000000;
                            font-size: 14px;
                            &.active {
                                position: relative;
                                display: block;
                            }
                        }
                    }
                    .search-btn {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 20" xml:space="preserve"><g transform="translate(-1160.543 -67.822)"><circle cx="1168.5" cy="75.39" r="7.5" fill="none"/><circle cx="1168.5" cy="75.39" r="6.58" fill="none" stroke="%234b4b4b" stroke-width="1.8" /><path fill="none" stroke="%234b4b4b" stroke-width="1.8" d="M1172.5 80.39l6 6"/></g></svg>');
                        background-position: 50% 50%;
                        background-size: 20px;
                        background-repeat: no-repeat;
                        &:hover {
                            opacity: 0.7;
                        }
                        &.active {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 1;
                            display: block;
                            width: 30px;
                            height: 30px;
                            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 20"><style>.st2{fill:none;stroke:%23666666;stroke-width:1.8;stroke-linecap:round}</style><g><path class="st2" d="M3 2.5l15 15M18 2.5l-15 15"/></g></svg>');
                            background-size: 50%;
                        }
                    }
                }
            }
        }
        .sidebar-menu {
            display: none;
            &.active {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1001;
                width: 320px;
                height: 100%;
                padding: 0 40px;
                background-color: #ffffff;
            }
            .close-btn {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 40px;
                height: 40px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 20"><style>.st2{fill:none;stroke:%23333333;stroke-width:1.8;stroke-linecap:round}</style><g><path class="st2" d="M3 2.5l15 15M18 2.5l-15 15"/></g></svg>');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 45%;
                opacity: 0.6;
            }
            .close-btn {
                &:hover {
                    opacity: 1;
                    transition: all 0.2s;
                }
            }
            .sidebar-header {
                a {
                    display: block;
                    padding: 60px 0 15px 0;
                    margin-bottom: 50px;
                    border-bottom: 1px solid #bdbdbd;
                    text-transform: lowercase;
                    font-size: 21px;
                    font-weight: 600;
                }
            }
            ul {
                li {
                    margin-top: 30px;
                    &:first-child {
                        margin-top: 0;
                    }
                    a {
                        display: block;
                        font-weight: 600;
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 5px;
                        }
                    }
                }
                &.sidebar-two-depth-menu {
                    li {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        margin: 12px 0 0 14px;
                        &:before {
                            content: 'ㄴ';
                        }
                        a {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .menu {
            ul {
                display: flex;
                gap: 50px;
                li {
                    a {
                        color: #2c2828;
                        font-weight: 700;
                        &:hover {
                            color: #3e87f8;
                            transition: color 0.2s;
                        }
                    }
                }
            }
        }
    }
    .logo {
        margin-top: 70px;
        text-align: center;
        text-transform: initial;
        h1 {
            a {
                font-size: 42px;
                &:hover {
                    opacity: 0.7;
                    transition: color 0.2s;
                }
            }
        }
        p {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}

/* 예외 페이지일 경우 */
.header-wrap {
    &.side-header {
        .logo {
            h1 {
                a {
                    font-size: 32px;
                }
            }
        }
    }
}
/* // 예외 페이지일 경우 */
